
{% if flash.getMessage('info') %}
	<div class="alert alert-info fade in">
	        <a href="#" class="close" data-dismiss="alert">&times;</a>
	        <strong> {{ flash.getMessage('info') | first }} </strong>
	</div>
{% endif %}

{% if flash.getMessage('error') %}
	<div class="alert alert-danger fade in">
	        <a href="#" class="close" data-dismiss="alert">&times;</a>
	        <strong>Error!</strong> {{ flash.getMessage('error') | first }}
	</div>
{% endif %}